<!DOCTYPE html>
<html>
  <%- include('head') %>
  <body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
      <button
        class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
        onclick="w3_open();"
      >
        <i class="fa fa-bars"></i> Menu
      </button>
      <span class="w3-bar-item w3-right">Logo</span>
    </div>

    <%- include('sidebar') %>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div
      class="w3-overlay w3-hide-large w3-animate-opacity"
      onclick="w3_close()"
      style="cursor:pointer"
      title="close side menu"
      id="myOverlay"
    ></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
      <!-- Header -->
      <header class="w3-container" style="padding-top:22px">
        <h5>
          <b>Decrypt file</b>
        </h5>
      </header>
      <hr />

      <div class="w3-container">
        <p><b>Filename:</b></p>
        <hr />
        <input
          type="text"
          id="filename"
          class="w3-input"
          placeholder="Enter filename here ..."
        />
        <p><b>Key Alias:</b></p>
        <hr />
        <input
          type="text"
          id="keyAlias"
          class="w3-input"
          placeholder="Enter key alias here ..."
        />
        <button class="w3-btn w3-teal" id="decryptBtn">Decrypt</button>
      </div>
      <hr />
      <hr />
      <!-- Footer -->
      <footer class="w3-container w3-padding-16 w3-light-grey">
        <h4>FOOTER</h4>
        <p>
          Powered by
          <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"
            >w3.css</a
          >
        </p>
      </footer>

      <!-- End page content -->
    </div>

    <script>
      // Get the Sidebar
      var mySidebar = document.getElementById("mySidebar");

      // Get the DIV with overlay effect
      var overlayBg = document.getElementById("myOverlay");

      // Toggle between showing and hiding the sidebar, and add overlay effect
      function w3_open() {
        if (mySidebar.style.display === "block") {
          mySidebar.style.display = "none";
          overlayBg.style.display = "none";
        } else {
          mySidebar.style.display = "block";
          overlayBg.style.display = "block";
        }
      }

      // Close the sidebar with the close button
      function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
      }
    </script>
  </body>
</html>
<script>
  $("#decryptBtn").click(function() {
    $.ajax({
      url: "/api/decryptFile",
      data: {
        filename: $("#filename").val(),
        keyAlias: $("#keyAlias").val()
      },
      method: "POST",
      success: function(msg) {
        alert(msg);
      }
    });
  });
</script>
