$avatarWidth: 36px;
$avatarMarginRight: 12px;
$userInfoContainer: calc(100% - #{$avatarWidth} - #{$avatarMarginRight});

.compactUserInfoContainer, .userInfo, .userBadge {
  display: flex;
}

.compactUserInfoContainer {
  height: 100%;
  width: 100%;
  align-items: center;

  .avatorContainer {
    margin-right: $avatarMarginRight;
  }

  .avatorContainer, .avatarImg {
    width: $avatarWidth;
    height: 36px;
    text-transform: uppercase;
  }

  .userInfoContainer {
    width: $userInfoContainer;

    .userName {
      font-size: 14px;
      color: rgba(0, 0, 0, 0.87);
    }

    .userBadge {
      padding-left: 10px;
  
      & * {
        width: 18px;
        height: 18px;
      }
    }

    .subtitleContainer {
      font-size: 12px;
    }
    
    .subtitleContainer,
    .userBadge {
      color: rgba(0, 0, 0, 0.54);
    }

    .userName,
    .subtitleContainer {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  }
}